demo/build
lightglue_attention_plugin/build
lightglue_pytorch_no_plugin/__pycache__
lightglue_pytorch_with_plugin/__pycache__
demo/3rdparty/tensorrtbuffer/lib/*
lightglue_attention_plugin/change_names.txt
